/* RESPONSIVE */
@media screen and (min-width: 800px) {

    /* INDEX PAGE */
    .index__responsive-container {
        display: flex;
        justify-content: center;
        width: 80%;
        margin: auto;
    }

    .index__switch-mode-container {
        right: 30% !important;
    }

    .index__ranking-container__title {
        margin-top: 30px;
    }

    .index__ranking-container__list {
        width: 100% !important;
    }

    .index__category-container__title {
        display: block !important;
    }

    .index__category-responsive {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex !important;
    }

    .index__difficulty-container__nav__img {
        display: none;
    }

    .index__difficulty-container {
        display: flex !important;
        height: 500px;
    }

    .index__category-container__nav {
        display: flex !important;
        width: 40%;
        margin: 0px auto;
    }

    .index__difficulty-container__title {
        display: block;
    }

    .index__difficulty-container__btn {
        max-width: 300px;
    }

    .index__difficulty-responsive__img {
        display: inline;
        height: 400px;
    }

    .index__difficulty-responsive {
        display: flex;
        justify-content: space-around;
        margin-top: -50px;
    }

    .index__difficulty-responsive__btn {
        margin-top: 70px;
    }

    /* GAME */
    .game__who-play {
        margin: 80px;
    }

    .game__question {
        padding: 50px 100px;
    }

    .game__answer-container {
        flex-wrap: wrap;
        height: 300px
    }

    .game__answer-container__btn {
        padding: 20px 30px;
    }

}