:root {
    /* FONTS */
    --primary-font: 'lobster';
    --secondary-font: 'mooli-regular';

    /* COLORS */
    --pink: pink;
    --pink-light: rgb(255, 230, 234);
    --blue-light: rgb(172, 193, 255);
    --yellow-light: rgb(255, 255, 194);
    --green-light: rgb(194, 255, 194);
    --red-light: rgb(255, 128, 149);
    --orange-light: #FFBF49;
    --grey-light: #EDEDED;
    --black: black;
    --white: white;
}

@font-face {
    font-family: 'lobster';
    src: url('../fonts/Lobster-Regular.ttf');
}

@font-face {
    font-family: 'mooli-regular';
    src: url('../fonts/Mooli-Regular.ttf');
}

/* UTILS */
.hidden {
    display: none !important;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.select,
.full-select,
.choice {
    background-color: var(--blue-light) !important;
}

.partially-select {
    background-color: var(--orange-light) !important;
}

body {
    background-color: var(--pink);
    font-family: var(--secondary-font);
    text-align: center;
}

.unicorn {
    width: 100%;
    max-width: 450px;
}

h1 {
    font-family: var(--primary-font);
    font-size: 3rem;
    margin: 40px auto;
    max-width: 400px;
}

h2 {
    font-size: 2rem;
    margin: 30px 40px 40px 40px;
}

h3 {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 20px auto 10px auto;
    width: 60%;
}

.btn {
    font-family: var(--secondary-font);
}

/* NUMBER OF PLAYER */
/* to hide input of other players if not use */
.index__player__name:not(.active) {
    display: none;
}

.index__player__number {
    font-family: var(--secondary-font);
    font-size: 2rem;
    background-color: var(--green-light);
    border: solid black 2px;
    border-radius: 40px;
    padding: 10px 40px;
    margin-bottom: 15px;
}

/* INPUT NAMES */
.index__player__name {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--grey-light);
    border: solid black 2px;
    border-radius: 40px;
    width: 70%;
    max-width: 460px;
    padding: 10px 20px;
    margin: 15px;
}

/* BTN SELECT CATEGORY */
.index__player__btn-category {
    background-color: var(--green-light);
    text-align: center;
    font-size: 1.8rem;
    border-radius: 40px;
    border: solid 1px var(--black);
    width: 80%;
    max-width: 500px;
    padding: 10px 20px;
    margin: 15px;
}

/* BTN RESET CHANGES */
.index__player__btn-reset {
    background-color: var(--red-light);
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 20px;
    margin: 15px;
    width: 35%;
    border-radius: 40px;
    border: solid 1px var(--black);
}

.index__ranking-container__list {
    font-size: 1.5rem;
    background-color: var(--pink-light);
    width: 80%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
    border: solid var(--black) 1px;
    border-radius: 50px;
    list-style-type: none;
    opacity: 70%;
}

.index__own-quiz-link {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    color: var(--black);
    display: block;
    padding: 30px;
}

/* CHOICE OF CATEGORY */
.index__category-container {
    padding: 10px 0px;
}

.index__category-container__btn {
    text-align: center;
    font-size: 1.8rem;
    background-color: var(--grey-light);
    border-radius: 40px;
    width: 90%;
    max-width: 500px;
    padding: 10px 20px;
    margin: 15px;
}

.index__category-container__nav {
    justify-content: space-around;
    margin: 20px auto;
}

.index__category-container__nav__img {
    width: 25%;
    max-width: 250px;
}

/* CHOICE OF DIFFICULTY */
.index__difficulty-container {
    height: 700px;
    justify-content: space-around;
}

.index__difficulty-container h2 {
    margin-top: 50px;
}

.index__difficulty-container__btn {
    font-size: 1.8rem;
    background-color: var(--grey-light);
    width: 90%;
    max-width: 500px;
    padding: 10px 20px;
    margin: 15px;
    border-radius: 40px;
}

.easy {
    background-color: var(--green-light);
}

.medium {
    background-color: var(--yellow-light);
}

.hard {
    background-color: var(--red-light);
}

.index__difficulty-container__nav__img {
    width: 25%;
    max-width: 125px;
    margin-top: 30px;
}

/* GAME */
.game__who-play {
    margin-top: 50px;
}

.game__question {
    font-size: 1.8rem;
    width: 80%;
    max-width: 500px;
    background-color: var(--pink-light);
    margin: auto auto 40px auto;
    padding: 20px 10px;
    border: solid var(--black) 1px;
    border-radius: 50px;
}

.game__timer {
    font-size: 1.8rem;
    border: solid 1px var(--black);
    border-radius: 40px;
    background-color: var(--yellow-light);
    width: 30%;
    max-width: 150px;
    margin: 30px auto 30px auto;
    padding: 20px 10px;
    font-weight: 600;
}

.game__answer-container__btn {
    text-align: center;
    font-size: 1.8rem;
    background-color: var(--grey-light);
    border-radius: 40px;
    width: 90%;
    max-width: 400px;
    padding: 10px 20px;
    margin: 15px;
}

/* ANSWER */
.game__comments {
    font-size: 1.8rem;
    font-weight: 400;
    width: 70%;
    max-width: 500px;
    background-color: var(--pink-light);
    margin: 30px auto 10px auto;
    padding: 20px 10px;
    border: solid var(--black) 1px;
    border-radius: 50px;
}

.cat-unicorn {
    width: 50%;
    max-width: 400px;
}

.game__anecdote {
    font-size: 1.8rem;
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
}

.game__nav {
    justify-content: space-around;
    margin: 40px auto;
    max-width: 400px;
}

.game__nav__img {
    width: 30%;
    max-width: 125px;
}

/* ENDGAME */

.endgame h2 {
    margin-top: 50px;
    font-weight: 600;
}

.endgame__stats {
    width: 90%;
    max-width: 500px;
    margin: 30px auto;
    font-size: 1.8rem;
    list-style-type: none;
}

.glory-unicorn {
    width: 90%;
    max-width: 600px;
}

.home-mushroom {
    width: 25%;
    max-width: 150px;
    margin-top: -50px;
    margin-bottom: 30px;
    border-radius: 100px;
    box-shadow: 5px 5px 5px var(--black);
}

/* RESPONSIVE */
@media screen and (min-width: 800px) {

    /* INDEX PAGE */
    .index__container {
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin: auto;
    }

    .index__ranking-container__title {
        margin-top: 30px;
    }

}