:root {
    /* fonts */
    --primary-font: 'lobster';
    --secondary-font: 'mooli-regular';
    /* colors */
    --bg-pink: pink;
    --pink-light: rgb(255, 230, 234);
    --bg-select: rgb(172, 193, 255);
    --bg-yellow: rgb(255, 255, 194);
    --bg-green: rgb(194, 255, 194);
    --bg-red: rgb(255, 128, 149);
    --primary-color-text: rgb(20, 20, 20);
    --black: black;
    --white: white;
}

@font-face {
    font-family: 'lobster';
    src: url('../fonts/Lobster-Regular.ttf');
}

@font-face {
    font-family: 'mooli-regular';
    src: url('../fonts/Mooli-Regular.ttf');
}

/* utils */
.hidden {
    display: none !important;
}

.opacity {
    opacity: 90%;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

body {
    background-color: var(--bg-pink);
    color: var(--primary-color-text);
    font-family: var(--secondary-font);
    text-align: center;
}

/* to hide input of other players if not use */
.player-choice__player-name:not(.active) {
    display: none;
}

/* have a unicorn in background */
.unicorn {
    background-image: url('../img/licorn-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 500px;
}

h1,
h2,
h3 {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    text-shadow: 2px 2px var(--pink-light);
}

h1 {
    font-size: 3rem;
    margin: 40px;  
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.2rem;
    margin: 20px auto 10px auto;
}

.btn {
    font-family: var(--secondary-font);
    font-weight: 600;
}

/* make some style for inputs names spaces and go button */
.player-choice__player-number {
    font-family: var(--secondary-font);
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.player-choice__player-name {
    font-family: var(--secondary-font);
    font-weight: 600;
    text-align: center;
    border-radius: 20px;
    width: 55%;
    padding: 10px 20px;
    margin: 10px;
}

.endgame__btn-home,
.game__btn-end-party,
.quiz-choice__btn-category,
.player-choice__btn-go {
    width: 15%;
    border-radius: 20px;
    margin: 10px;
    height: 40px;
}

.player-choice__btn-go {
    background-color: var(--bg-green);
}

/* here we make style for quiz choice zone */
.quiz-choice__btn-category {
    width: 25%;
    height: 40px;
    margin-top: 10px;
}

.quiz-container {
    flex-wrap: wrap;
    padding: 10px 0px;
    width: 90%;
    margin: auto;
}

.game__answer__btn,
.quiz-container__btn {
    border-radius: 5px;
    padding: 10px 10px;
    height: 50px;
    max-width: 33%;
    margin: 2px;
}

.quiz-choice__difficulty {
    margin-bottom: 20px;
}

.quiz-choice__difficulty__btn {
    border-radius: 20px;
    height: 40px;
}

.select {
    background-color: var(--bg-select);
}



/* here is some style for ranking */
.game__anecdote,
.index__ranking-list,
.endgame__ranking-list {
    background-color: var(--pink-light);
    width: 60%;
    margin: auto;
    padding: 20px;
    border: solid var(--black) 1px;
    border-radius: 50px;
    list-style-type: none;
}

.index__ranking-list,
.endgame__ranking-list {
    opacity: 70%;
}

.index__own-quiz-link {
    font-family: var(--primary-font);
    color: var(--black);
    display: block;
    padding: 20px;
}

.endgame__btn-home,
.game__btn-end-party {
    background-color: var(--bg-red);
}

/************************************************************************\\
//                       ****   **** *   *  ****                         \\
//                       *   * *   * ** **  *                            \\
//                       *     *   * * * *  ****                         \\
//                       *  ** ***** *   *  *                            \\
//                       ***** *   * *   *  ****                         \\
//***********************************************************************/
.game__timer {
    border: solid 1px var(--black);
    border-radius: 20px;
    background-color: var(--bg-yellow);
    width: 20%;
    margin: 30px auto 40px auto;
    padding: 10px 10px;
    font-weight: 600;
}

.game__btn-next {
    border: solid 1px var(--black);
    border-radius: 20px;
    background-color: var(--bg-yellow);
    width: 20%;
    margin: 20px auto 10px auto;
    padding: 10px 10px;
    font-weight: 600;
}

.game__question {
    width: 60%;
    background-color: var(--white);
    font-weight: 600;
    margin: auto auto 40px auto;
    padding: 20px;
    border: solid var(--black) 1px;
    border-radius: 50px;
}

.game__answer__btn {
    display: inline-block;
}

.choice {
    background-color: var(--bg-select);
}

.game__anecdote {
    margin: 40px auto;
}

.game__comments {
    font-weight: 600;
}

.game__btn-next {
    background-color: var(--bg-green);
}

.endgame__stats {
    font-weight: 600;
}

/* try to make background change when good or bad response. works but will do it later */
/* .good {
    background-image: url('../img/heart-gold-glitter.png') !important;
    background-size: auto !important;
} */

.index__soon-title {
    border-top: solid 2px var(--black);
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 15px;
    text-shadow: 1px 1px 15px rgba(255, 0, 0, 0.788);
}

.spotify-container {
    padding-bottom: 15px;
}

.spotify-container__img {
    margin-left: 2px;
    width: 30px;
    height: 30px;
}