
/* to hide input of other players if not use */
.player-name:not(.active) {
    display: none;
}

@font-face {
    font-family: 'lobster';
    src: url('../fonts/Lobster-Regular.ttf');
}

body {
    background-color: pink;
    font-family: 'lobster';
    text-align: center;
}

#unicorn {
    background-image: url('../img/licorn-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 3rem;
    margin: 40px;
}

h2 {
    font-size: 1.5rem;
    width: 80%;
    margin-bottom: 20px;
}

/* make some style for inputs names spaces and go button */
.number-of-player {
    padding: 5px 10px;
    border-radius: 20px;
}

.player-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-name {
    text-align: center;
    border-radius: 20px;
    width: 55%;
    padding: 10px 20px;
    margin: 10px;
    opacity: 70%;
}

.btn-player {
    width: 20%;
}

/* here we make style for quiz choice zone */
.quiz-btn-container {
    opacity: 70%;
    padding: 20px 0px;
}

.btn-quiz {
    padding: 10px 10px;
    height: 40px;
    max-width: 33%;
}

.difficulty-container {
    margin-bottom: 20px;
}

.select {
    background-color: blueviolet;
}

.hidden {
    display: none;
}

/* here is some style for ranking */
.ranking-title {
    margin-top: 40px;
}

.ranking {
    opacity: 70%;
    background-color: rgb(253, 213, 221);
    width: 60%;
    margin: auto;
    padding: 20px;
    border: solid black 1px;
    border-radius: 50px;
    list-style-type: none;
}

.own-quiz {
    display: block;
    margin-top: 20px;
}

/************************************************************************\\
//                       ****   **** *   *  ****                         \\
//                       *   * *   * ** **  *                            \\
//                       *     *   * * * *  ****                         \\
//                       *  ** ***** *   *  *                            \\
//                       ***** *   * *   *  ****                         \\
//***********************************************************************/

.choice {
    background-color: aqua;
}